h1 {
    background-color: rgb(209, 238, 247);
}

#t1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#t2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html {background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwsIBwcICAoIBwcHBwoHBwcHBw8ICQcKFREWFhURExMYHSggGCYxGxMTITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0PFSsaFRktKysrKysrLSsrKysrKysrKystNy0rKysrKysrKysrKystLTcrKysrKysrLSsrKysrK//AABEIAKgBLAMBIgACEQEDEQH/xAAYAAEBAQEBAAAAAAAAAAAAAAAAAQIDB//EACAQAQEBAQACAQUBAAAAAAAAAAABAhFRcTESIUFhgZH/xAAZAQEBAQEBAQAAAAAAAAAAAAAAAQIDBQT/xAAYEQEBAQEBAAAAAAAAAAAAAAAAEQESAv/aAAwDAQACEQMRAD8A9TnxPSpPielfU8wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAE6l0C9ZuktRYzulocRUdp8T0E+IrLogoCCgIKAgoCCgIKAgoCCgIKAgoCCgIKAgoCBbxm6ErVrF0gqUtRQRBQEFAdZ8T0pPiehl0AAAAAAAAAAAAAAAAAAAAAAELpm0iVbpm3oKzUF4KIKAgoCCgILxfpvgpHSCjDogoCCgIKAgoCCgIKAgoCCgIKloBazdIsSrdMgrIACKAAACKACzPW5hKuY5yNTDrM8VK1nliYka4ojUYiiqiCiCCgIKKIKgAoCCgICWgrNqWoJS1FFZQUBBQEFAQVeAycdJjrUxIlXPLnM2tzEb4cSt55xJOKcOIoHDgAcOAz4FnwKiCgIKAgoCCgIFS6BWbUFZp1FAQUEQUBBQEFamRYwsz10mGuJWs8ucx5bkkUKsQURUFAQUBBQEFAQIAAAAACWpaqVes2gIgoqIKBEFAiCgRBqRqYSkY41MNyKla5ZmVUFQURUFAQUBBQEFAQS6n4+7N1b+lSt2yM/XPFYFiV0FhUVBLUBes9UVEOKCIKAgoCCnAQ43MtTKVeXOZ63MNBWuU4oIoAAAAAAAAJbxm78T/RG2bqT9+mLbRYlW6v4+zPyorKCgIKA11FEaQUEQUBBQEFWS0WMnHSZXhV5YmWpOKIsABQAAAAAAEupP2Cl5GLr+IM1q68fdm20FRBUEBQEFAQUBBUBRQVBRBBrizIsZ4sy3IpV5ZkVRGkFAQUBBQEFS3gAl14Zt6JcatkZuvCCs0t6igiCiiCgIKIIKKIKAgoCCgCoIrUysyojUXgoKgoCCgIKAgoCM3X9UE3Wbq+vTIKgAIAAAAAAAAAAAAAAAAAA//9k=); 
      background-repeat:no-repeat ;
      background-size: cover;
}
      
.Vermelho {
    color: red;
}

.Azul {
    color: blue;
}